# Archivos de bytecode de Python
*.pyc
*.pyo
__pycache__/

# Entornos virtuales
venv/
env/
.venv/
.env/
.idea/
1_estructurada/Pruebas.py
4_basesdedatos/Pruebas.py
2_estructuradedatos/Pruebas.py
3_poo/Pruebas.py
5_programacionfuncional/Pruebas.py